
.footer{
    background-color: var(--primary-color);
}
.footer-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 20px;
}

.footer-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-krona);
    color: var(--third-color);
    padding-top: 1rem;
}
