<div class="about-section">
  <div class="box-glass box1">
    <p class="name">Hola!, Soy David Ventura</p>
    <p class="position">Desarrollador web!!</p>
  </div>
  <div class="box-glass box2">
    Desarrollador web con enfoque en soluciones eficientes e innovadoras. Me
    especializo en la resolución de problemas, adaptabilidad y trabajo en
    equipo. Busco mejorar continuamente mis habilidades y aplicar las mejores
    tecnologías para crear productos optimizados y funcionales, priorizando la
    calidad y la experiencia del usuario.
  </div>
</div>
