.courses-container {
    font-family: var(--font-montserrat);
    color: var(--third-color);
    font-size: 1rem;
    margin-bottom: 15px;
}

.courses-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-krona);
    color: var(--third-color);
    background-color: var(--primary-color);
    margin: 20px 0;
    padding: 10px;
}

.courses-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25rem);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 60px;
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(15rem + 40px);
    padding: 20px;
    -webkit-overflow-scrolling: touch;
}

.courses-list::-webkit-scrollbar {
    height: 8px;
}

.courses-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.courses-list::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
}

.courses-list::-webkit-scrollbar-thumb:hover {
    background: var(--third-color);
}

.course-card {
    width: 25rem;
    height: 4rem;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    justify-content: space-between;
    padding-right: 20px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

img {
    width: 8rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--primary-color) 0px 1px 4px;
}

.course-card-title {
    padding-left: 10px;
}
.icon-eye{
    cursor: pointer;
}